html,
body,
main {
  height: 100%;
  overflow-y: hidden;
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #212529;
  text-align: left;
  --text-primary: #f8f9fa;
  --bg-primary: #343a40;
  --bg-secondary: #4b535c;
}

input:not([type="checkbox"]),
select {
  border: 0;
  font: inherit;
  font-size: inherit;
  padding: 0 0.5rem;
  height: 1.75rem;
}
input:not([type="checkbox"]) {
  width: 11rem;
}
select,
input[type="color"] {
  width: 12rem;
}

.wrap-text {
  max-width: 100%;
  white-space: wrap;
  word-wrap: break-word;
  word-break: break-all;
}

select {
  max-width: 100%;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

input[type="color"] {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
}

#credit {
  position: relative;
  bottom: 6px;
  left: 0;
  right: 0;
}
#credit a {
  border-top-left-radius: 0.25rem;
  padding: 0.125rem 0.375rem;
  color: rgba(255, 255, 255, 0.7);
  fill: rgba(255, 255, 255, 0.7);
  z-index: 1;
  text-decoration: none;
  position: absolute;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.4);
  right: 0;
  bottom: 0;
}
#credit span {
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}
#credit svg {
  margin-left: 0.15rem;
  height: 0.8rem;
}

.icon {
  height: 1em;
}

#parameter-config {
  position: sticky;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

button {
  cursor: pointer;
  font-size: inherit;
  display: flex;
  align-items: center;
  color: var(--text-primary);
  fill: var(--text-primary);
  padding: 0.5rem 0.6rem;
  font-weight: 400;
  border-radius: 0.6rem;
  border-width: 0;
}
button:focus {
  border-width: 0;
  box-shadow: 0;
}

button.primary {
  background-color: #17a2b8;
}
button.primary:hover {
  background-color: #138496;
}
button.primary:focus {
  outline: #117a8b solid 2px;
}

button.secondary {
  background-color: #6c757d;
}
button.secondary:hover {
  background-color: #5a6268;
}
button.secondary:focus {
  outline: #5a6268 solid 2px;
}

.overlay-buttons {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  left: 0.5rem;
  font-size: 1.5rem;
  margin-bottom: 0.25rem !important;
  display: flex;
  justify-content: start;
}
.overlay-buttons > button {
  border-radius: 0;
}
.overlay-buttons > button:first-child {
  border-radius: 0.6rem 0 0 0.6rem;
}
.overlay-buttons > button:last-child {
  border-radius: 0 0.6rem 0.6rem 0;
}

canvas {
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
}

.config-item {
  display: flex;
  justify-content: space-between;
  clear: both;
  font-weight: 400;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.config-item label {
  white-space: wrap;
}

.config-item table {
  border-radius: 0.5rem;
}
.config-item td {
  text-align: center;
  border-top: 1px solid var(--bg-secondary);
}
.config-item th {
  text-align: center;
}

.config-item tr.selected:hover > td {
  background-color: rgba(255, 255, 255, 0.25) !important;
}
.config-item tr.selected > td {
  background-color: rgba(255, 255, 255, 0.2);
}
.config-item tr:last-child > td:first-child {
  border-bottom-left-radius: 0.5rem;
}
.config-item tr:last-child > td:last-child {
  border-bottom-right-radius: 0.5rem;
}

.collection-footer {
  margin-bottom: 0.25rem;
}

.collection {
  width: 100%;
  background-color: var(--bg-secondary) !important;
  border-radius: 0.25rem;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
}

.collection .heading {
  margin: 0 1rem 0.5rem;
  cursor: pointer;
  color: white;
  text-decoration: none !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.collection-label {
  white-space: wrap;
}

.collection input:not([type="checkbox"]),
.collection select {
  width: 5rem;
  margin-left: 0;
}
.collection input[type="checkbox"] {
  margin-left: 0;
}

.collection-container {
  margin: 0 1rem;
  max-width: calc(100% - 2rem);
  overflow-x: auto;
  position: relative;
}

.collection-content {
  width: fit-content;
}

.collection-actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  gap: 0.5rem;
}

.collection table {
  width: 100%;
  background-color: var(--bg-primary);
  table-layout: fixed;
  padding: 0.5rem;
}

.collection th {
  width: 5rem;
}
.collection th.row-select {
  width: 1rem;
}

.collection input[data-row-selector] {
  min-width: 1rem !important;
  text-align: end;
}

.collapsed .collection-content {
  display: none;
}

.collection-caret {
  width: 0;
  height: 0;
  display: inline-block;
  border: 0.375rem solid transparent;
  margin-bottom: 0.25rem;
  border-bottom-color: #f8f9fa;
}
.collapsed .collection-caret {
  margin-top: 0.5rem;
  border-top-color: #f8f9fa;
  border-bottom-color: rgba(0, 0, 0, 0);
}

dialog {
  position: relative;
  max-width: unset;
  width: clamp(26rem, 50vw, 35rem);
  padding: 0;
  border: 0;
  border-radius: 0.5rem;
  background-color: var(--bg-primary);
}

.width-narrow {
  display: none;
}
.width-large {
  display: initial;
}

@media (max-width: 440px) {
  .width-narrow {
    display: initial;
  }
  .width-large {
    display: none;
  }

  dialog {
    width: 100%;
    border-radius: 0;
  }
  #cfg-outer > *:not(:first-child) {
    margin-top: 1.5rem !important;
  }

  .collection-actions {
    position: sticky;
    left: 0;
  }

  .config-item {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .config-item input,
  .config-item select {
    margin-top: 0.5rem;
    width: unset;
  }
  .config-item input[type="checkbox"] {
    width: fit-content;
  }
  .config-item .collection input[type="checkbox"] {
    width: unset;
    min-width: 3rem;
  }
  .dialog-actions {
    font-size: 1.5rem;
  }
}

@media (max-width: 305px) {
  .collection-actions {
    width: fit-content;
  }
}

dialog::backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.5;
}

dialog form {
  color: var(--text-primary);
}

h1 {
  max-width: 100%;
  height: 1.5rem;
  padding: 1rem 1.5rem 0.75rem;
  margin: 0;
  background-color: var(--bg-primary);
  position: sticky;
  top: 0;
  border-bottom: 1px solid #6c757d;
  z-index: 1;
}

#cfg-outer {
  max-width: 100%;
  max-height: calc(100vh - 13rem);
  padding: 0.75rem 1.5rem 1rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

#cfg-outer > *:not(:first-child) {
  margin-top: 1rem;
}

.dialog-actions {
  border-top: 1px solid #6c757d;
  max-width: 100%;
  height: 2.1rem;
  padding: 1rem 1.5rem;
  background-color: var(--bg-primary);
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
